<app-header></app-header>

<div class="about-us-container">
  <div class="about-us-content">
    <h2>À propos de nous</h2>
    <p>
      Nous sommes une plateforme innovante spécialisée dans l'analyse et la consultation des résultats médicaux,
      principalement pour les hémogrammes (NFS) et les scanners cérébraux. Notre mission est de fournir des résultats
      précis et rapides grâce à l'utilisation de modèles d'IA avancés.
    </p>
    <p>
      Pour les hémogrammes, nous vous offrons la possibilité de consulter vos résultats en ligne, facilitant ainsi le
      suivi de votre santé et de vos traitements.
    </p>
    <p>
      Pour les scanners cérébraux, notre plateforme utilise des modèles d'IA entraînés pour détecter la présence de
      tumeurs, permettant une prise de décision rapide et éclairée par les professionnels de la santé.
    </p>
    <p>
      Notre équipe est composée d'experts en IA et en médecine, travaillant ensemble pour améliorer continuellement
      notre service et offrir une expérience utilisateur exceptionnelle.
    </p>
  </div>
</div>
