<app-header></app-header>

<div class="container">
  <header class="header">
    <div class="content">
      <h1><span>Get Quick</span><br/><br/>Services médicaux</h1>
      <p>
        L'accès rapide à des <strong>diagnostics médicaux</strong> précis est crucial, surtout pour des conditions graves comme les tumeurs cérébrales. Notre application utilise <strong>l'intelligence artificielle</strong> pour analyser les images IRM, aidant ainsi les professionnels de la santé et les patients à obtenir des <strong>résultats fiables et rapides</strong> pour des décisions éclairées.
      </p>
      <a class="btn no-color-change" routerLink="/login">Obtenir des services</a>
    </div>
    <div class="image">
      <span class="image__bg"></span>
      <img src="assets/welcomph.png" alt="Your Image Description" class="round-image" />
      <div class="image__content image__content__1">
          <h4> <span class="checkmark">&#10003;</span> 110+ <span class="client-text">Actifs Clients</span></h4>        
      </div>
      <div class="image__content image__content__2">
        <ul>
          <li>
            <span class="checkmark">&#10003;</span> 
            Médecins Experts
          </li>
        </ul> 
      </div>
    </div>
  </header>
</div>
