<header class="mat-elevation-z8">
    <mat-toolbar color="primary">
      <div class="logo">Medical_IA</div>
      <div class="spacer"></div>
      <button mat-button routerLink="/login">
        <mat-icon>person</mat-icon>
        <span>Login</span>
      </button>
      <button mat-button routerLink="/register">
        <mat-icon>person_add</mat-icon>
        <span>Register</span>
      </button>
      <button mat-button routerLink="/about">
        <mat-icon>info</mat-icon>
        <span>About Us</span>
      </button>
    </mat-toolbar>
  </header>
  