<app-header></app-header>
<div class="login-container">
  <div class="login-box">
    <h2>Register</h2>
    <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
    <form class="login-form" (ngSubmit)="register()">
      <div class="form-field">
        <label for="username"><mat-icon>account_circle</mat-icon> Username:</label>
        <input matInput type="text" id="username" name="username" [(ngModel)]="username" required>
      </div>
      <div class="form-field">
        <label for="email"><mat-icon>email</mat-icon> Email:</label>
        <input matInput type="email" id="email" name="email" [(ngModel)]="email" required>
      </div>
      <div class="form-field">
        <label for="password"><mat-icon>lock</mat-icon> Password:</label>
        <input matInput type="password" id="password" name="password" [(ngModel)]="password" required>
      </div>
      <button mat-raised-button color="primary" class="login-button" type="submit">Register</button>
    </form>
  </div>
</div>
