
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #e0f7fa;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  

  .result-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
    width: 100%;
    background-color: #e0f7fa;
  }
  
  /* Boîte de résultats */
  .result-box {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 500px; /* Largeur maximale pour la boîte */
    text-align: center;
  }
  
  /* Titre du résultat */
  .result-box h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #007bff;
    font-size: 2rem;
  }
  
  /* Classe et confiance */
  .result-box p {
    font-size: 1.1rem;
    margin-bottom: 20px;
  }
  
  /* Message de soutien */
  .support-message {
    color: #007bff;
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 20px;
  }
  